body {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}

.navbox {
    width: 100vw;
    height: 15vh;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar1 {
    display: flex;
    margin: 0 20px 20px 20px;
    color: white;
    justify-content: space-between;
}

.navbar2 ul {
    display: flex;
    margin: 10px;
    list-style: none;
    color: white;
    justify-content: center;
    padding: 0;
    overflow-x: auto;
}

.navbar2 ul li {
    margin: 10px 20px 10px 20px;
    font-size: 12px;
    cursor: pointer;
}

.searchbar {
    width: 50vw;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
}

.searchbar input {
    border: 1px solid transparent;
    width: 40vw;
    height: 40px;
    background-color: white;
    align-items: center;
    position: relative;
    bottom: 4px;
    z-index: 10;
}

.searchbar button {
    border: 1px solid transparent;
    background-color: transparent;
    width: 4.6vw;
    height: 40px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.container img,p{
    cursor: pointer;
}

.navoption {
    margin: 0;
    font-size: 12px;
}

.rectangle {
    width: 100vw;
    display: flex;
    overflow-x: auto;
    scrollbar-color: transparent;
    scrollbar-width: thin;
    margin-bottom: -30px;
}

.rectangle::-webkit-scrollbar {
    width: 5px;
}

.rectangle::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.rectangle img {
    width: 100vw;
    object-fit: cover;
    cursor: pointer;
}

.F1 {
    background-color: rgb(244, 244, 244);
    width: 100vw;
    height: 100px;
    text-align: center;
    align-items: center;
}

.F1 h1 {
    padding-top: 30px;
}

.box {
    width: 100vw;
    background-color: rgb(244, 244, 244);
    display: flex;
    overflow-x: auto;
}

.box::-webkit-scrollbar {
    width: 5px;
}

.box::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.minibox img {
    width: 250px;
    cursor: pointer;
}

.minibox p {
    text-align: center;
    font-weight: bold;
}

.box2 {
    margin: 0;
    display: flex;
    overflow-x: auto;
    gap: 5px;
}

.box2::-webkit-scrollbar {
    width: 5px;
}

.box2::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.box2heading h1 {
    text-align: center;
}

.minibox2 {
    margin: 5px;
    width: 300px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: auto 50px 50px;
    justify-content: center;
    align-items: center;
}

.minibox2:hover {
    border: 1px solid rgb(215, 198, 198);
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
}

.minibox2 img {
    grid-column: 1/3;
    width: 200px;
    justify-self: center;
}

.minibox2 :nth-child(2) {
    grid-column: 1/3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.minibox2 :nth-child(4) {
    justify-self: center;
    text-decoration: line-through;
}

.minibox2 :nth-child(3) {
    justify-self: center;
}

.video1 {
    width: 100vw;
}

.video1 video {
    object-fit: cover;
    object-position: left;
    width: 100vw;
}

.box3heading h1 {
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-size: 50px;
}

.box3::-webkit-scrollbar {
    width: 5px;
}

.box3::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.box3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3 img {
    width: 25vw;
    margin: 20px 20px 20px 60px;
    cursor: pointer;
}

.blackbox {
    position: relative;
    background-color: rgb(34, 34, 34);
    height: 20vh;
    bottom: 169px;
    z-index: -1;
    margin-bottom: -169px;
}

.verticalbox {
    width: 45vw;
    margin: 50px 0 100px 100px;
    height: 140vh;
    background-color: rgb(34, 34, 34);
}

.flex1 {
    display: flex;
}

.flex1 img {
    width: 50vw;
    margin-top: 100px;
}

.smallbox1 h1 {
    width: 40vw;
    color: white;
    text-align: center;
    padding: 150px 0 0 20px;
}

.smallbox1 p {
    text-align: center;
}

.smallbox1 p a {
    color: white;
}

.smallbox2 h1 {
    width: 40vw;
    color: black;
    text-align: center;
    padding: 150px 0 0 20px;
}

.smallbox2 p {
    text-align: center;
}

.smallbox2 p a {
    color: black;
}

.boxgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 70px 70px;
    margin-top: 20px;
}

.boxgrid img {
    width: 300px;
    justify-self: center;
    cursor: pointer;
}

.boxgrid h1 {
    color: rgb(237, 148, 75);
    align-self: center;
    text-align: center;
}

.boxgrid p {
    color: white;
    text-align: center;
    align-self: center;
}

.blackbox2 {
    position: relative;
    background-color: rgb(34, 34, 34);
    height: 50vh;
    bottom: 325px;
    margin-bottom: -325px;
    z-index: -1;
}

.review {
    display: flex;
    color: rgb(79, 79, 79);
}

.review :nth-child(1) {
    margin: 10px 28vw 0 10px;
}

.review :nth-child(2) {
    margin: 10px 20px 0 30vw;
    color: orange;
    font-size: 20px;
}

.line {
    height: 3px;
    background-color: rgb(227, 227, 227);
    width: 97vw;
    margin: 0 0 10px 10px;
}

.box4 {
    display: grid;
    grid-template-columns: 130px 200px;
    grid-template-rows: 120px 50px;
    margin-left: 10px;
}

.reviewbox {
    margin-left: 100px;
}

.box4 img {
    width: 120px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    cursor: pointer;
}

.A1 {
    display: flex;
    height: 40px;
}

.A1 p {
    padding: 5px;
}

.A1 :nth-child(2) {
    margin-top: 12px;
}

#star {
    margin-top: 0px;
    color: orange;
    font-size: 30px;
}

.childbox p,
h1,
div {
    margin: 0;
}

.childbox :nth-child(4) {
    font-size: 10px;
}

#review {
    font-size: 10px;
    color: rgb(201, 201, 201);
}

.bigbox {
    display: flex;
    overflow-x: auto;
}

.box5heading {
    text-align: center;
    margin: 20px 0 20px 0;
}

#important1 {
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
}

#important2 {
    grid-column: 4/6;
    grid-row: 3/5;
    width: 100%;
    height: 100%;
}

.box5 {
    display: grid;
    grid-template-columns: repeat(5, 19.5vw);
    grid-template-rows: repeat(4, 19.5vw);
    gap: 5px;
}

.container1 :first-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: filter 0.3s;
}

.load {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 30px 0 30px 0;
}

.load button {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}

.box6 {
    background-color: rgb(244, 244, 244);
}

.box6 h1 {
    text-align: center;
    font-size: 30px;
    padding: 30px 0 30px 0;
}

.flex2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
}

.flex2 input {
    background-color: white;
    width: 300px;
    height: 38.5px;
    border: 1px solid transparent;
    padding: 5px;
}

.flex2 :nth-child(3) {
    background-color: white;
    width: 100px;
    height: 50px;
    border: 0.5px solid black;
    cursor: pointer;
}

.line2 {
    height: 2px;
    background-color: rgb(24, 24, 24);
}

#important3 {
    width: 20px;
    height: 20px;
    padding: 3px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 400px;
    border: 1px solid black;
    background-color: black;
    color: white;
    height: 50px;
    cursor: pointer;
}

.box7 {
    height: 130px;
    background-color: rgb(24, 24, 24);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    color: white;
}

.box7 h1 {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    justify-self: center;
    align-self: self-end;
}

.box7 p {
    text-align: center;
    font-size: 13px;
}

.box8 h1 {
    font-size: 15px;
    color: rgb(119, 119, 119);
    margin: 30px 30px 5px 60px;
}

.box8 p {
    font-size: 12px;
    color: rgb(119, 119, 119);
    margin: 5px 50px 0 60px;
}

#link {
    margin-left: 90vw;
}

.box8 p a {
    font-size: 10px;
    color: rgb(119, 119, 119);
}

.mainbox {
    background-color: rgb(24, 24, 24);
}

.biggerbox {
    display: flex;
    background-color: rgb(24, 24, 24);
}

.gridbox {
    display: grid;
    grid-template-columns: repeat(3, 200px) 150px;
    grid-template-rows: repeat(6, 38px);
    padding: 10px 30px 30px 30px;
}

.gridbox p {
    font-size: 13px;
    color: white;
}

.gridbox h1 {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    color: white;
    font-weight: 800;
}

.gridbox :nth-child(16) {
    grid-column: 1/2;
}

.gridbox :nth-child(17) {
    grid-column: 3/4;
}

.gridbox :nth-child(18) {
    grid-column: 3/4;
    grid-row: 6/7;
}

.cursorhover {
    cursor: pointer;
}

.cursorhover:hover {
    color: orange;
}

#titan {
    font-size: 12px;
    font-weight: 800;
    color: white;
    padding: 40px 10px 10px 5px;
}

.software {
    display: flex;
    margin: 10px;
}

.software img {
    padding: 10px;
    width: 150px;
}

.software>img {
    padding-right: 80px;
}

#help{
    font-size: 13px;
    font-weight: 800;
    color: white;
    padding-top: 40px;
}

.share h1 {
    font-size: 12px;
    align-self: center;
    color: white;
    font-size: 13px;
    font-weight: 800;
}

.share img {
    width: 20px;
    padding: 0 10px;
}

.share {
    display: flex;
    align-items: center;
}

.chat {
    display: flex;
}

.chat p,a {
    font-size: 15px;
    color: white;
    justify-self: center;
    align-self: center;
    padding: 2px;
}

.chat a {
    font-weight: 800;
    font-size: 14px;
}

.chat img {
    width: 20px;
    height: 20px;
    align-self: center;
}

.subfooter {
    display: flex;
    justify-content: right;
}

.subfooter p {
    font-size: 10px;
    font-weight: 800;
    color: rgb(119, 119, 119);
    padding: 5px 60px 5px 5px;
}

.lastline {
    height: 3px;
    background-color: rgb(79, 79, 79);
}

.footer {
    display: flex;
}

.footer img {
    width: 40px;
    padding: 5px 30px 5px 30px;
}

.footer :nth-child(6) {
    padding-top: 17px;
    width: 100px;
    height: 20px;
}

.footer :nth-child(7) {
    width: 120px;
    height: 20px;
    padding-top: 15px;
}

.footer p {
    color: rgb(119, 119, 119);
    font-size: 10px;
    font-weight: 800;
    padding: 10px 0 10px 22vw;
}

@media screen and (max-width:1380px) {
    .software img {
        padding: 10px;
        width: 100px;
    }

    .software>img {
        padding-right: 60px;
    }

    #help{
        font-size: 13px;
        font-weight: 800;
        color: white;
        padding-top: 40px;
    }

    .share h1 {
        font-size: 10px;
        align-self: center;
        color: white;
        font-weight: 800;
    }
    .share img{
        width: 15px;
    }
}

@media screen and (max-width:1180px) {
    .flex1 img {
        width: 550px;
        height: auto;
        margin-top: 100px;
    }

    .smallbox1 h1 {
        width: 30vw;
        color: white;
        text-align: center;
        padding: 150px 0 0 20px;
        font-size: 20px;
    }

    .smallbox2 h1 {
        width: 30vw;
        color: black;
        text-align: center;
        padding: 150px 0 0 20px;
        font-size: 20px;
    }

    .footer img {
        width: 30px;
        height: 30px;
        padding: 5px 10px 5px 10px;
    }

    .footer :nth-child(6) {
        padding-top: 17px;
        width: 70px;
        height: 15px;
    }

    .footer :nth-child(7) {
        width: 80px;
        height: 15px;
        padding-top: 15px;
    }
    .gridbox {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(7, 38px);
        padding: 10px 30px 30px 30px;
    }

    .gridbox :nth-child(5) {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .gridbox :nth-child(9) {
        grid-row: 3/4;
    }

    .gridbox :nth-child(13) {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .gridbox :nth-child(16) {
        grid-row: 5/6;
    }

    .gridbox :nth-child(6) {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .gridbox :nth-child(10) {
        grid-row: 3/4;
    }

    .gridbox :nth-child(14) {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .gridbox :nth-child(7) {
        grid-row: 2/3;
    }

    .gridbox :nth-child(11) {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .gridbox :nth-child(15) {
        grid-column: 3/4;
        grid-row: 4/5;
    }

    .gridbox :nth-child(17) {
        grid-column: 3/4;
        grid-row: 5/6;
    }

    .gridbox :nth-child(8) {
        grid-column: 2/3;
        grid-row: 6/7;
    }

    .gridbox :nth-child(12) {
        grid-column: 2/3;
        grid-row: 7/8;
    }
    
    .flex2 input {
        width: 200px;
        height: 18.5px;
    }
    
    .flex2 :nth-child(3) {
        width: 60px;
        height: 30px;
    }
    .button{
        margin-left: 5px;
        width: 150px;
        height: 30px;
        font-size: 10px;
    }
}

@media screen and (max-width:956px) {
    .verticalbox {
        width: 45vw;
        margin-left: 100px;
        height: 120vh;
    }

    .flex1 img {
        width: 400px;
        margin-top: 100px;
    }

    .boxgrid::-webkit-scrollbar {
        width: 5px;
    }

    .boxgrid::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    .boxgrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 400px 70px 70px;
        margin-top: 20px;
        overflow-x: auto;
        gap: 20px;
    }

    .boxgrid img {
        width: 400px;
        justify-self: center;
    }

    .footer p {
        color: rgb(119, 119, 119);
        font-size: 10px;
        font-weight: 800;
        padding: 10px 0 10px 13vw;
    }
    .biggerbox{
        display: inline;
    }
    .gridbox {
        display: grid;
        grid-template-columns: repeat(3, 200px) 150px;
        grid-template-rows: repeat(6, 38px);
        padding: 10px 30px 30px 30px;
    }
    .gridbox :nth-child(8){
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .gridbox :nth-child(12){
        grid-column: 4/5;
        grid-row: 3/4;
    }
    .software img {
        padding: 10px;
        width: 150px;
    }

    .software>img {
        padding-right: 90px;
    }

    #help{
        font-size: 13px;
        font-weight: 800;
        color: white;
        padding-top: 40px;
    }

    .share h1 {
        font-size: 13px;
        align-self: center;
        color: white;
        font-weight: 800;
    }
    .share img{
        width: 20px;
    }
    .rightbox{
        padding-left: 40px;
    }
}

@media screen and (max-width:880px) {
    .navbar1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 45px;
    }

    .searchbar {
        grid-column: 3/5;
    }

    .logo {
        grid-column: 1/3;
    }

    .searchbar button {
        width: 4vw;
    }

    .container img {
        width: 20px;
    }

    .navbox {
        height: 25vh;
    }

    .navbar2 ul {
        justify-content: left;
    }

    .box {
        justify-content: left;
    }

    .box5 {
        display: grid;
        grid-template-columns: repeat(5, 18.9vw);
        grid-template-rows: repeat(4, 18.9vw);
        gap: 5px;
    }

    .gridbox {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: repeat(14, 38px);
        padding: 10px 30px 30px 30px;
    }

    .gridbox :nth-child(3) {
        grid-column: 1/3;
        grid-row: 7/8;
    }

    .gridbox :nth-child(7) {
        grid-column: 1/3;
        grid-row: 8/9;
    }

    .gridbox :nth-child(18) {
        grid-column: 1/3;
        grid-row: 12/13;
    }

    .gridbox :nth-child(4) {
        grid-row: 7/8;
        grid-column: 2/3;
    }

    .gridbox :nth-child(8) {
        grid-column: 2/3;
        grid-row: 8/9;
    }

    .gridbox :nth-child(11) {
        grid-column: 1/3;
        grid-row: 9/10;
    }

    .gridbox :nth-child(15) {
        grid-column: 1/3;
        grid-row: 10/11;
    }

    .gridbox :nth-child(17) {
        grid-column: 1/3;
        grid-row: 11/12;
    }

    .gridbox :nth-child(12) {
        grid-column: 2/3;
        grid-row: 9/10;
    }
}

@media screen and (max-width:750px) {
    .box3 {
        display: flex;
        justify-content: left;
        overflow-x: auto;
    }

    .box3 img {
        width: 100vw;
        margin: 20px;
    }

    .blackbox {
        position: relative;
        background-color: black;
        height: 20vh;
        bottom: 169px;
        z-index: -1;
    }

    .verticalbox {
        width: 45vw;
        margin-left: 100px;
        height: 140vh;
        background-color: rgb(34, 34, 34);
    }

    .flex1 {
        display: block;
    }

    .flex1 img {
        width: 400px;
        margin-top: 10px;
    }

    .smallbox1 h1 {
        width: 40vw;
        color: white;
        text-align: center;
        padding: 15px 0 0 20px;
    }

    .smallbox1 p {
        text-align: center;
    }

    .smallbox1 p a {
        color: white;
    }

    .smallbox2 h1 {
        width: 40vw;
        color: white;
        text-align: center;
        padding: 15px 0 0 20px;
    }

    .smallbox2 p {
        text-align: center;
    }

    .smallbox2 p a {
        color: white;
    }

    .review :nth-child(2) {
        margin: 10px 20px 0 10px;
    }

    .searchbar {
        width: 40vw;
    }

    .searchbar input {
        width: 28vw;
    }
    .footer img{
        width: 18px;
        height: 21px;
    }
    .footer :nth-child(6){
        width: 50px;
        height: 10px;
        padding-top: 11px;
    }
    .footer :nth-child(7){
        width: 50px;
        height: 10px;
        padding-top: 11px;
    }
    .footer{
        height: 40px;
    }
    .footer p{
        font-size: 8px;
        padding: 0;
    }
    .software>img {
        padding-right: 50px;
    }
    .flex2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 50px;
        margin-left: 50px;
    }
    .button{
        grid-column: 1/3;
        justify-self: center;
    }
    .flex2 input{
        justify-self: center;
    }
}

@media screen and (max-width:500px) {
    .verticalbox {
        height: 80vh;
    }

    .flex1 img {
        width: 300px;
        margin-top: 10px;
    }

    .smallbox1 h1 {
        width: 30vw;
        font-size: 12px;
    }

    .smallbox1 p a {
        color: white;
        font-size: 10px;
    }

    .smallbox2 h1 {
        width: 30vw;
        font-size: 12px;
    }

    .smallbox2 p {
        text-align: center;
        margin-left: 10px;
    }

    .smallbox2 p a {
        color: white;
        font-size: 10px;
    }

    .searchbar button img {
        width: 10px;
    }

    .searchbar input {
        bottom: 0;
    }
    .software img{
        width: 120px;
        padding: 10px;
    }
}

@media screen and (max-width:426px) {
    .flex1 img {
        width: 200px;
        margin-top: 10px;
    }

    .verticalbox {
        width: 50vw;
    }

    .navbar1>img {
        width: 100px;
    }

    .navbar1 .searchbar {
        height: 20px;
    }

    .navbar1 .searchbar input {
        height: 20px;
        width: 25vw;
    }

    .searchbar button {
        height: 20px;
    }

    .container {
        margin-top: 0;
    }

    .navbar2 ul li {
        font-size: 10px;
    }

    .navbar2 ul {
        margin: 0;
    }

    .navbar1 {
        margin-bottom: 5px;
    }

    .navbox {
        height: 150px;
    }

    .F1 h1,
    .box2heading h1,
    .box3heading h1 {
        font-size: 20px;
    }

    .F1,
    .box2heading,
    .box3heading {
        margin-top: 30px;
    }

    .minibox img {
        width: 150px;
    }

    .minibox p {
        font-size: 10px;
        font-weight: 1000;
    }

    .minibox2 img {
        width: 100px;
    }

    .minibox2>p {
        font-size: 10px;
    }

    .minibox2 {
        width: 150px;
        grid-template-columns: 100px 30px;
        grid-template-rows: auto 50px 50px;
    }

    .minibox2 :nth-child(3) {
        justify-self: left;
    }

    .boxgrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 50px 50px;
        margin-top: 20px;
        overflow-x: auto;
        gap: 20px;
    }

    .boxgrid img {
        width: 300px;
        justify-self: center;
    }

    .boxgrid h1 {
        font-size: 20px;
    }

    .boxgrid p {
        font-size: 10px;
    }

    .blackbox2 {
        height: 350px;
    }
    .gridbox {
        display: grid;
        grid-template-columns: 150px 150px;
        grid-template-rows: repeat(14, 38px);
        padding: 10px 30px 30px 30px;
    }
    .footer img{
        width: 15px;
        height: 15px;
    }
    .footer :nth-child(6){
        width: 20px;
        height: 5px;
        padding-top: 10px;
    }
    .footer :nth-child(7){
        width: 20px;
        height: 5px;
        padding-top: 10px;
    }
}